/* IN CASE WE NEED TO DEBUG/VISUALIZE USING THE BOX METHOD 

* {
  outline: 2px solid #6B4A2E;
}

BUT FOR NOW LET'S SEE WHAT WE HAVE! */

body {
    background-color: #FFF7E6;  
    color: #D18B47;             
    font-family: sans-serif;
    font-size: medium;
    margin: 16px 16px 16px 16px;
    padding: 16px;

}
h1 {
    font-family: "Pacifico", serif;
    color: #6B4A2E;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    margin: -6px;
}
.heading {
        color: #A65E2E;
        font-size: large;
        font-weight: bold;
}

.menu {
    position:-webkit-sticky;
    position:sticky;
}

a:focus {
  font-style: italic;
}

a:hover {
  text-decoration: none;
  background: #D18B47;
}

a:active {
  background: #D18B47;
  color: #FFF7E6;
}

li {
    list-style-type: square;
}