body {
    background-color: #1C1C1C;  
    color: #FFFFFF;    
    font-family: "Roboto Mono", monospace;         
    margin: 16px 16px 16px 16px;
    padding: 16px;
}

nav {
    top: 0;
    margin: 0 auto;
    max-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    flex-wrap: wrap;
    font-weight: bold;
    padding: 0px;
    background: #E0E0E0;
    opacity: 95%;
    z-index: 0;
}

.menu {    
    padding: 8px;
    text-transform: lowercase;
    text-decoration: none;
    color: #1C1C1C;
    
}

.menu::first-letter {
    text-decoration: underline;
}

section {
    margin: 10px auto;
    padding: 8px;
    scroll-margin-top: 30px;
}

h1 {
    font-family: "Space Mono", monospace;
    color: #deffdd;
    text-shadow:
        0 0 2.5px #77fa60,    /* bright neon green core */
        0 0 5px #9cf18d,   /* slightly softer green */
        0 0 10px #77fa60,   /* outer green halo */
        0 0 20px #00ffff;   /* blue overlay for CRT‑style */ 
    text-align: center;
    position: relative;
}

h2 {
    font-family: "VT323", monospace;
    color: #FFFFFF;
}

.heading {
    color: #1C1C1C;
    background-color: #E0E0E0;
    letter-spacing: 0.25em;
    text-transform: lowercase;
    text-align: center;
}

.projects-list li a{
    color: white;
}
.projects-list li a:hover {
    color: #1C1C1C;
    background: #E0E0E0;
}
.projects-list li a:hover::before{
    content: " [ ";
    color: #1C1C1C;
    background: #E0E0E0;
}
.projects-list li a:hover::after{
    content: " ] ";
    color: #1C1C1C;
    background: #E0E0E0;
}

a:focus {
  font-style: italic;
}

a:hover {
  text-decoration: none;
  background: #FFFFFF;
}

a:active {
  background: #FFFFFF;
  color: #FFF7E6;
}

.connect-links  {
    display: flex;
    justify-content: center;
    gap: 8px; 
    flex-wrap: wrap; 
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    justify-content: center;
    text-align: center;
}

.experience-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    justify-content: center;
    text-align: center;
}

li {
    list-style-type: square;
}

.experience-list li,
.skills-list li,
.projects-list li
 {
    list-style: none;
    border: 2px dotted #A8A8A8;
    padding: 8px;
    flex: 1 1 250px;
}


footer {
    text-align: center;
}

form[name='leave_message'] input,
form[name='leave_message'] textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;         
    background: #FFF;
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

form[name='leave_message'] button {
    padding: 8px 16px;
    background: #d4d0c8;
    font-family: "Roboto Mono", monospace;         
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;
    cursor: pointer;
}

.userTerminal {
    color: #B392F0;
    font-weight: bold;
}

.pathTerminal {
    color: #9ECBFF;
}

#terminal {
    background-color: #1a1410;
    color: #ffffff;
    font-family: "Source Code Pro", monospace;
    padding: 16px;
    border: 1px solid #7F7F7F;
    margin-top: 16px;
}

#terminal::before {
    content: "$ git add guestbook.md";
    display: block;
    color: #ffffff;
    margin-bottom: 8px;
}

#terminal::after {
    content: "_";
    animation: blink 1s infinite;
    margin-left: 4px;
}

@keyframes blink {
    50% { opacity: 0; }
}

#terminal ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#terminal li {
    list-style: none;
    margin-bottom: 8px;
    white-space: pre-wrap; /* keeps \n formatting */
}

#terminal a {
    color: #1a1410;
    background-color: #B392F0;
}

#terminal button {
    font-family: "Source Code Pro", monospace;
}