body {
    background-color: #1C1C1C;  
    color: #FFFFFF;                
    font-family: "Roboto Mono", monospace;         
    margin: 16px 16px 16px 16px;
    padding: 16px;
}

nav {
    top: 0;
    margin: 0 auto;
    max-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    flex-wrap: wrap;
    font-weight: bold;
    padding: 0px;
    background: #E0E0E0;
    opacity: 95%;
    z-index: 0;
}

.menu {    
    padding: 8px;
    text-transform: lowercase;
    text-decoration: none;
    color: #1C1C1C;
}

.menu::first-letter {
    text-decoration: underline;
}


h1 {
    font-family: "Space Mono", monospace;
    color: #deffdd;
    text-shadow:
        0 0 2.5px #77fa60,    /* bright neon green core */
        0 0 5px #9cf18d,   /* slightly softer green */
        0 0 10px #77fa60,   /* outer green halo */
        0 0 20px #00ffff;   /* blue overlay for CRT‑style */ 
    text-align: center;
    position: relative;
}


h2 {
    font-family: "VT323", monospace;
    color: #FFFFFF;
}

.heading {
    color: #1C1C1C;
    background-color: #E0E0E0;
    letter-spacing: 0.25em;
    text-transform: lowercase;
    text-align: center;
}

a:focus {
  font-style: italic;
}

a:hover {
  text-decoration: none;
  background: #FFFFFF;
}

a:active {
  background: #FFFFFF;
  color: #1C1C1C;
}

section {
    margin: 10px auto;
    padding: 8px;
    scroll-margin-top: 30px;
}

#teams,
#leagues,
#players {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

#teams li,
#leagues li,
#players li {
    list-style: none;
    border: 2px dotted #A8A8A8;
    padding: 8px;
    flex: 1 1 250px;
}

footer {
    text-align: center;

}

button,
select {
    font-family: "Roboto Mono", monospace;         
}